/* styles for my resume */

/* standard text on the page */
BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* new skill: adding a container */
#container {
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  padding-bottom: 50px;
}

/* banner name at top: TRISHA AHMED */
#name {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* title: REPORTER & M.J. CANDIDATE AT THE UNIVERSITY OF MARYLAND */
#title {
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* new skill: changing html tags to css divs */
.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* this is the tricky part! tripped lot of people up this time */
.menu li{
  display: inline;
}

/* section titles: Experience, Education, Skills */
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 70%;
  min-width: 300px;
}

/* job title: Investigative Reporter, etc */
.jobtitle {
  font-weight: 600;
  font-style: bold;
  font-size: 1.5em;
}

/* organization name: Howard Center, etc */
.organization {
  font-weight: 400;
  font-size: 1.25em;
}

/* dates worked: June 2020 - present, etc */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

/* body text... used to be the <p> tag */
.description {
  margin: 10px 0px;
}

/* lists: contact info, education, skills */
#degrees {
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}
/* skills list */
#do {
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

ul {
  font-size: 1em;
}

/* mission statement at the top */
.top {
  width: 60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}

/* 1st commit and sync to GitHub repo */
/* 2nd commit and sync to GitHub repo */
/* 3rd commit and sync to GitHub repo */

/* 10/7/20 1st commit and sync to GitHub repo */
/* 10/7/20 2nd commit and sync to GitHub repo */
/* 10/7/20 3rd commit and sync to GitHub repo */
