
#content{
  margin: 0 auto;
  width: 900px;
}

/* This demonstrates that I have learned how to insert comments in CSS */

img{
  width: 100%;
}

#photocap{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 5px;
}

h1{
  font-family: Georgia, serif;
  font-size: 35px;
}

#byline{
  font-family: Georgia, serif;
  font-size: 15px;
  margin-bottom: 30px;
  color: #FE4660;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h2{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
}

blockquote{
  font-family: Georgia, serif;
  font-size: 20px;
  background-color: #FEEFBA;
  width: 500px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #98210A;
  font-weight: bold;
}

.fraud{
  color:#FE4660;
}

#related{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
