
#content{
  margin: 0 auto;
  width: 900px;
}

/* This demonstrates that I have learned how to insert comments in CSS */

img{
  width: 100%;
}

h1{
  font-family: Georgia, serif;
  font-size: 35px;
}

#byline{
  font-family: Georgia, serif;
  font-size: 15px;
  margin-bottom: 30px;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h2{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
}

blockquote{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#related{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
